*,
::after,
::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "chakra";
  src: url("assets/fonts/chakra_petch/ChakraPetch-Regular.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "chakra_medium";
  src: url("assets/fonts/chakra_petch/ChakraPetch-Medium.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "chakra_bold";
  src: url("assets/fonts/chakra_petch/ChakraPetch-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "shot";
  src: url("assets/fonts/shot.ttf") format("truetype");
  font-weight: bold;
}

html:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -5;
  background-image: linear-gradient(
    180deg,
    rgba(50, 70, 80, 0.9) 0,
    #0d101b 100%
  );
}

html:after {
  content: "";
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  right: 0;
  z-index: -10;
  background-color: #273136;
  background-image: linear-gradient(
    180deg,
    rgba(50, 70, 80, 0.9) 0,
    #0d101b 100%
  );
  background-image: url("assets/images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: initial;
  height: 100%;
  transition: background 0.2s linear;
  background-size: cover;
}

body {
  margin: 0;
  font-family: "Chakra Petch",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  letter-spacing: 0.046875rem;
  position: relative;
  min-height: 100vh;
  z-index: 9999;
  background-color: transparent;
  color: #fff;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-attachment: initial;
  background-color: transparent;
  background-image: url("assets/images/pattern.png");
  background-size: 4.6875rem;
  background-repeat: repeat;
  background-attachment: initial;
  z-index: -5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.notification-container {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
  width: 320px;
  padding: 10px 15px;
  max-height: calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: auto;
}

.notification {
  box-sizing: border-box;
  padding: 15px 15px 15px 58px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.2em;
  position: relative;
  opacity: 0.9;
  margin-top: 15px;
}

.notification .title {
  font-size: 1em;
  line-height: 1.2em;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.notification:hover, .notification:focus {
  opacity: 1;
}

.notification-enter {
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
}

.notification-enter.notification-enter-active {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: all 0.4s;
}

.notification-exit {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

.notification-exit.notification-exit-active {
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
  transition: all 0.4s;
}

.notification:before {
    content: "";
    position: absolute;
    left: 15px;
    right: 15px;
    top: 0;
    bottom: 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    opacity: 0.3;
}

.notification::after {
    content: "";
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 0;
    right: 0;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    opacity: 0.3;
}

.notification-info {
  background-color: #2f96b4;
}

.notification-info:before {
  content: "";
}

.notification-success {
  background-color: #51a351;
}

.notification-success:before {
  content: "";
}

.notification-warning {
  background-color: #f89406;
}

.notification-warning:before {
  content: "";
}

.notification-error {
  /* background-color: #bd362f; */
}

